# Archivos de build y compilación
/build/
/dist/
*.jar
*.war
*.ear
*.class
*.zip
*.rar
*.7z
build.xml

# Configuración de NetBeans
/nbproject/private/
/nb-configuration.xml
nb-private-configuration.xml
/manifest.mf
*.log
*.err

# Archivos de la JVM
hs_err_pid*
.classpath
.project
.settings
.factorypath
.metadata

# Archivos de sistema y temporales
*~
.DS_Store
.vscode
.idea
*.bak
*.swp
*.tmp